$body-font:
	'Lato',
	-apple-system,
	BlinkMacSystemFont,
	'Segoe UI',
	Roboto,
	'Helvetica Neue',
	Arial,
	sans-serif;

$white: #fff;

$primary-color: #00695c;
$secondary: #6c757d;
$success: #28a745;
$info: #17a2b8;
$warning: #ffc107;
$danger: #dc3545;
$light: #f8f9fa;
$dark: #343a40;


// Complementry color is used to indecate the loading bar on the top
// of the page with pace.js plugin
$complementry-color: adjust_hue($primary-color, 180);

$sidebar-width: 230px;
$sidebar-color: #222d32;

// Sidebar accent varible is used to determine the color of the links
// of the sidebar. The allowed values are 'light' or 'dark' only
$sidebar-accent: dark;
$sidebar-dark-color: #fff;
$sidebar-dark-link-color: #fff;
$sidebar-light-color: #000;
$sidebar-light-link-color: #333;
